html, body, ul, a, canvas, svg, div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  opacity: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: aliceblue;
  height: 100%;
  position: relative;
}

.country:hover {
  cursor: pointer;
}

.globe:hover {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  background-color: white;
}

.letter-accent {
  font-size: 1.5em;
  color: steelblue;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3px 20px;
}

.menu {
  margin: 15px;
  align-content: center;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}

.menu-title {
  /* vertical-align: center; */
}

.menu:hover {
  cursor: pointer;
  background-color: steelblue;
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  height: 30px;
  width: 100%;
  background-color: white;
  padding: 15px;
  position: fixed;
  bottom: 0px;
}

.footer-links {
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  color: steelblue;
}

.footer-links li {
  margin: 0px 10px;
}

.footer a:hover {
  font-weight: bold;
  font-size: 16px;
  color: darkgray;
}

.hidden {
  display: none;
}
